.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
  }

h2{
    text-align: center;
}
  
  input, textarea, select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .mensaje-exito {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px; /* Asegurar espacio con el footer */
    background: #e8ffe8;
    padding: 10px;
    border-radius: 5px;
  }
  
  