<nav>
  <ul class="menu">
    <li *ngFor="let item of menu" class="menu-item">
      <span (click)="toggleSubmenu(item)">{{ item.titulo }}</span>
      <ul class="submenu" *ngIf="item.submenus.length > 0">
        <li *ngFor="let submenu of item.submenus" (click)="seleccionarSubmenu(submenu, $event)">
          {{ submenu }}
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- Mostrar componentes según la selección -->
<div *ngIf="submenuSeleccionado === 'Estructurales'">
  <app-estructurales></app-estructurales>
</div>

<div *ngIf="submenuSeleccionado === 'De atributo'">
  <app-directivas-jaime></app-directivas-jaime>
</div>

<div *ngIf="submenuSeleccionado === 'FormAbrahan'">
  <app-formulario-abrahan></app-formulario-abrahan>
</div>

<div *ngIf="submenuSeleccionado === 'Abrahan'">
  <app-enrutamiento-abrahan></app-enrutamiento-abrahan>
</div>
